

@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video, audio, form, figuration, figure):not(svg *, symbol *):not(.menu, .navigation, .nav, .icon, .logo, .link, .red, .description, .title, .totle2, .d1)) {
  all: unset;
  display: revert;
}






/* Изображения не должны выходить за пределы своего контейнера */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* удаляем интервалы между ячейками в таблицах, линия между ячейками отображается только одна */
table {
  border-collapse: collapse;
}



meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/
pre {
  all: revert;
}


::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}


::marker {
  content: "";
}


:where([hidden]) {
  display: none;
}


:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}



:where(dialog:modal) {
  all: revert;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.lock {
  overflow-y: hidden;
}

.reset {
  padding: 10px 20px;
  cursor: pointer;
}

.product {
  padding: 50px 0;
}
.product__info {
  margin-bottom: 40px;
}
.product__title {
  display: inline-block;
  font-size: 2rem;
  margin-right: 7px;
}
.product__title--gray {
  color: #b3b3b7;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 40px;
  margin: 0 auto;
  margin-top: 150px;
}

.card {
  width: 225px;
  min-height: 350px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: relative;
    background-color: white;
}
.card .card__label {
  padding: 4px 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ff6633;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.card:hover {
  -webkit-box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
          box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}
.card__top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 220px;
          flex: 0 0 220px;
  position: relative;
  overflow: hidden;
}
.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card__image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.card__image:hover > img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 10px;
}
.card__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.card__price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.card__price:after {
  content: "₽";
  margin-left: 4px;
  position: relative;
}
.card__price--discount {
  font-weight: 700;
  font-size: 19px;
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.card__price--discount::before {
  content: "Со скидкой";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}
.card__price--common {
  font-weight: 400;
  font-size: 17px;
  color: #606060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.card__price--common::before {
  content: "Обычная";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}
.card__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: red;
}
.card__title:hover {
  color: #ff6633;
}
.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #70c05b;
  padding: 10px;
  text-align: center;
  border: 1px solid #70c05b;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-top: auto;
}
.card__add:hover {
  border: 1px solid #ff6633;
  background-color: #ff6633;
  color: #fff;
}

.cart {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #364364;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
  position: fixed;
  top: 50px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 15px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}
.cart:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.cart__num {
  position: absolute;
  background-color: #d62240;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  top: -5px;
  right: -5px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-y: scroll;
}
.popup__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 800px;
  min-height: 300px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
}
.popup__item {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}
.popup__item:last-of-type {
  border-bottom: none;
}
.popup__title {
  font-size: 20px;
}
.popup__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.popup__product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup__product-image {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}
.popup__product-title {
  max-width: 300px;
  font-weight: 500;
}
.popup__product-price {
  font-size: 18px;
  margin-right: 15px;
}
.popup__product-delete {
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
  color: #d62240;
}
.popup__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 5px;
}
.popup__cost-title {
  margin-right: 15px;
  font-size: 20px;
  color: #364364;
  text-align: right;
}
.popup__cost-value {
  font-size: 20px;
}
.popup__close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 20px;
  color: rgba(54, 67, 100, 0.7);
  font-size: 20px;
}
.popup__close:hover {
  color: rgb(54, 67, 100);
}
.popup--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.3;
	height: 100%;
	background: linear-gradient(rgba(1, 3, 56, .8), rgba(1, 3, 56, .4)), url(01.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: 50% 50%;
}
/*Style for navigation*/
.navigation {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	top: 8%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.menu {
	display: flex;
}

.nav {
	display: flex;
	list-style: none;
}

.nav li a {
	color: #FD7B7C;
	text-decoration: none;
	margin: 0 30px 0 0;
	font-size: 18px;
}

.icon li a {
	margin: 0 20px 0 0;
}

.logo {
	font-size: 40px;
	font-family: 'Quicksand', sans-serif;
	color: #FD7C6E;
}

.link {
	transition: .3s;
}

.link:hover {
	color: #FF9900;
}

.red {
	color: red;
}
/*Style for description*/
.description {
	top: 35%;
	left: 10%;
	width: 35%;
	position: absolute;
}

.description h1 {
	margin: 0;
	font-size: 40px;
	color: #FBA0E3;
}

.description p {
	color: #C9A0DC;
	font-size: 20px;
}
.title{
	position: absolute;
	margin-top: 120px;
	margin-left: 150px;
	color: #c7c7c7;
	font-size: 24px;
}
.title2{
	position: absolute;
	margin-top: 160px;
	margin-left: 150px;
	color: #c7c7c7;
	font-size: 18px;
}

* {box-sizing: border-box;}


form {
  position: relative;
  width: 200px;
  margin: 0 auto;
}
.d1{
	position: absolute;
	margin-top: 60px;
	margin-left: 415px;	
}
.d1 input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #FFAA88;
  border-radius: 5px;
  outline: none;
  background: #FFEEE7;
  color: #9E9C9C;
}
.d1 button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #FFAA88;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.d1 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
figcaption {
    margin: 10px 0 0 0;
    text-align: center;
    font-variant: small-caps;
    font-family: Arial;
    font-weight: bold;
    color: #c7c7c7;
}
figure {
    padding: 5px;
}


/*Style for end-head*/
.post-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 96%;
	left: 90%;
	transform: translate(-50%, -50%);
}

.post-nav {
	display: flex;
	list-style: none;
}

.post-nav li {
	padding: 0 30px 0 0;
}

.post-nav li a {
	color: #c7c7c7;
	text-decoration: none;
	font-size: 18px;
}
    /* social links */
    .social-icons {
      display: flex;
      justify-content: center;
      list-style: none;
      margin-top: 0.25rem;
      margin-bottom: 1rem;
      padding-left: 0;
    }

    .social-icons>li {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }

    .social-icons a {
      position: relative;
      background-color: #eee;
      display: block;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: background-color .3s ease-in-out;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: .25rem;
    }

    .social-icons a:hover {
      background-color: #FF9900;
    }

    .social-icons a::before {
      content: "";
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      left: .65rem;
      top: .65rem;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .social-icons .social-icon-vk::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%232787f5' d='M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z'/%3E%3C/svg%3E");
    }

    .social-icons .social-icon-telegram::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%2327a7e7' d='M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z'/%3E%3C/svg%3E");
    }
footer{
    position: relative;/*относительное позиционирование*/
    width: 100%;/*на всю ширину*/
    padding: 20px 50px;/*поля для контента*/
    background: #666;/*цвет футера*/
    display: flex;
    justify-content: center;/*в центре по горизонтали*/
    align-items: center;/*в центре по вертикали*/
    flex-direction: column;
    margin-top: 100px;/*отступ сверху*/
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}    
label {
  font-weight: 600;
}

input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 10px;
  padding: 16px 24px;
  width: 90%;
  height: 15%;
  left: 1048px;
  top: 16px;
  background: #FFFFFF;
  border: 2px solid #1B1B1B;
  box-sizing: border-box;
  border-radius: 16px;
  transition: 0.2s;
}

textarea:focus, input:focus{
  outline: none;
  background: #F9E450;
  border: 3px solid #1B1B1B;
  border-radius: 16px;
}
.exp-cvc {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.expiration {
  font-size: 0.75rem;
  width: 50%;
  margin-right: 20px;
}

.security {
  font-size: 0.75rem;
  width: 50%;
  margin-left: 20px;
}

span {
  padding-left: 5px;
  cursor: pointer;
}

.btn {
  background-color: #F9E450;
  border: 2px solid #1B1B1B;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px 32px 16px 16px;
  text-align: center;
  font-weight: 800;
  margin-top: 20px;
  
  width: 141px;
  height: 56px;
  left: 16px;
  top: 88px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
  transition: 0.16s ease-out;
}

.btn:hover {
  background: #FFBB38;
  border: 4px solid #1B1B1B;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 4px #C1BFFA;
  border-radius: 16px;
}

#exit {
  cursor: pointer;
}