body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	height: 100vh;
	background: linear-gradient(rgba(1, 3, 56, .8), rgba(1, 3, 56, .4)), url(01.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: 50% 50%;
	
}

/*Style for navigation*/
.navigation {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	top: 8%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.menu {
	display: flex;
}

.nav {
	display: flex;
	list-style: none;
}
.nav li a {
	color: #FD7B7C;
	text-decoration: none;
	margin: 0 30px 0 0;
	font-size: 18px;
}

.icon li a {
	margin: 0 20px 0 0;
}

.logo {
	font-size: 40px;
	font-family: 'Quicksand', sans-serif;
	color: #FD7C6E;
}

.link {
	transition: .3s;
}

.link:hover {
	color: #FF9900;
}

.red {
	color: red;
}
a{
	text-decoration: none;
}
p {
	text-indent: 25px;
	text-align: justify;
}
/*Style for description*/
.description {
    background: url(paws.jpg);
	background-size: cover;
    margin: 0 auto;
	margin-top: 150px;
	width: 85%;
	position: relative;
	background-color: #FFEEE7;
	border-radius: 15px;
}

.description h1 {
	margin: 0;
	margin-left: 180px;
	font-size: 40px;
	color: #FF8C63;
}

.description p {
	color: #FF8C63;
	font-size: 20px;
	margin-left: 180px;
	margin-right: 15px;
	text-indent: 25px;
	text-align: justify;
}
.prm{
	display: flex
}

.preim{
	background: url(paws.jpg);
	background-size: cover;
    	margin: 0 auto;
	margin-top: 50px;
	margin-left: 5px;
	margin-right: 5px;
	width: 450px;
	height: 350px;
	position: relative;
	background-color: #FFEEE7;
	border-radius: 15px;
}
.preim h1 {
	margin: 0;
	margin-left: 100px;
	font-size: 25px;
	color: #FF8C63;
}

.preim p {
	color: #FF8C63;
	font-size: 18px;
	margin-left: 100px;
	margin-right: 20px;
	text-indent: 25px;
	text-align: justify;
}
.title{
	position: absolute;
	margin-top: 120px;
	margin-left: 150px;
	color: #c7c7c7;
	font-size: 24px;
}
.title2{
	position: absolute;
	margin-top: 160px;
	margin-left: 150px;
	color: #c7c7c7;
	font-size: 18px;
}
* {box-sizing: border-box;}
body{margin: 0;}
div {padding: 20px 0}
form {
  position: relative;
  width: 200px;
  margin: 0 auto;
}
.btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 1px;
	margin: 0 auto;
	margin-top: 10px;
	margin-left: 45px;
	outline: none;
	border: 1px solid #F18230;
	border-radius: 15px;
	height: 46px;
	line-height: 0;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	vertical-align: top;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}
.btn span {
	display: block;	
	box-sizing: border-box;
	padding: 0 25px;    
	height: 42px;
	line-height: 38px;    
	border: 1px solid #F18230;
	border-radius: 15px;    
	font-size: 14px;
	color: #FFFFFF;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F18230;
	text-align: center;
	font-weight: 600;
}
.btn:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.btn:hover span {
	background-color: #fba768
}
.btn:active span {
	background-color: #c17237 !important;
}

figcaption {
    margin: 10px 0 0 0;
    text-align: center;
    font-variant: small-caps;
    font-family: Arial;
    font-weight: bold;
    color: #c7c7c7;
}
figure {
    padding: 5px;
}
img {
	border: 1px solid #F18230;
	background-color: #F18230;
	padding: 3px;
	height: 400px;
	width: 300px;
	margin-top: 120px;
	margin-left: 50px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
	left: 0;
	top: 0;
    width: 100%;
    height: 100%;
	overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
}

.modal-content img {
    height: 600px;
	width: 500px;
}

.centr-cont{
	margin-left: 30px;
}
.block{
	position: relative;
	height: 180px;
	width: 255px;
	display: inline-block;
}
.button{
	margin-left: 50px;
	border-radius: 5px;
	background-color: #FFDBDB
}
.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  font-size: 18px;
  font-style: normal;
  color: #FFC6C6;
  line-height: 1.4em;
  letter-spacing: 0em;
}

.content-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  
}
	
.item {}

.cont-text {
  max-width: 500px;
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 150px;
}

.cont-text h2 {
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: 400;
  font-style: normal;
  color: #FFDBDB;
  line-height: 1.4em;
  letter-spacing: 0em;
}

.price {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  color: #FFC6C6;
  line-height: 1.37em;
  letter-spacing: 0em;
}

/* social links */
.social-icons {
	display: flex;
	justify-content: center;
	list-style: none;
	margin-top: 0.25rem;
	margin-bottom: 1rem;
	padding-left: 0;
}

.social-icons>li {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

.social-icons a {
	position: relative;
	background-color: #eee;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: background-color .3s ease-in-out;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: .25rem;
}

.social-icons a:hover {
	background-color: #FF9900;
}

.social-icons a::before {
	content: "";
	position: absolute;
	width: 1.2rem;
	height: 1.2rem;
	left: .65rem;
	top: .65rem;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
}

.social-icons .social-icon-vk::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%232787f5' d='M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z'/%3E%3C/svg%3E");
}

.social-icons .social-icon-telegram::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%2327a7e7' d='M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z'/%3E%3C/svg%3E");
}
footer{
    position: relative;/*относительное позиционирование*/
    width: 100%;/*на всю ширину*/
    padding: 20px 50px;/*поля для контента*/
    background: #666;/*цвет футера*/
    display: flex;
    justify-content: center;/*в центре по горизонтали*/
    align-items: center;/*в центре по вертикали*/
    flex-direction: column;
    margin-top: 750px;/*отступ сверху*/
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}  

